<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <form class="" action="/pirates" method="post">
    <p>Pirate Name: <input type="text" name="pirate[name]" value=""></p>
    <p>Pirate Weight: <input type="text" name="pirate[weight]" value=""></p>
    <p>Pirate Height: <input type="text" name="pirate[height]" value=""></p>
    <p>Ship Name: <input id = "ship_1" type="text" name="pirate[ships][][name]" value=""></p>
    <p>Ship Type: <input type="text" name="pirate[ships][][type]" value=""></p>
    <p>Ship Booty: <input type="text" name="pirate[ships][][booty]" value=""></p>
    <p>Ship Name: <input id = "ship_2" type="text" name="pirate[ships][][name]" value=""></p>
    <p>Ship Type: <input type="text" name="pirate[ships][][type]" value=""></p>
    <p>Ship Booty: <input type="text" name="pirate[ships][][booty]" value=""></p>
    <p><input type="submit" name="Submit" value=""></p>
  </form>

  </body>
</html>
